<footer>
    <div class="f-info sticky-bottom">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="f-info-brand">&copy; HealthX Private Limited</div>
        <div class="f-info-links">
            
            <a href="/privacy">Privacy</a> &emsp; &emsp;
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>