<% layout("/layouts/boilerplate") %>
    <h3>Edit First Aid Information for Emergency Medical Conditions</h3>
    <form method="post" action="/generals/<%= general._id %>?_method=PUT" class="needs-validation" novalidate>
        <h4>General First Aid Information</h4>
        
        <label for="info">First Aid Information:</label><br>
        <textarea id="info" name="general[info]" required><%= general.info %></textarea> <br><br>
        <div class="invalid-feedback">Add Correct Information</div>

        <button type="submit">Save Changes</button>
    </form>

<script src="/js/script.js"></script>
